
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Data Search and Analysis System</h1>
        <div class="row mt-4">
            <!-- Existing Clients Card -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Clients</h5>
                        <p class="card-text">Manage clients and business cases</p>
                        <a href="{{ url_for('main.clients') }}" class="btn btn-primary">Go to Clients</a>
                    </div>
                </div>
            </div>

            <!-- New Social Media Parser Card -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Social Media Parser</h5>
                        <p class="card-text">Parse social media data for analysis</p>
                         <!--"{{ url_for('main.social_media_parser') }}"-->
                        <a href="http://social_media.karhuno.info/" class="btn btn-primary">Go to Parser</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}


